.header-bottom {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  background-color: white;
}
.header-bottom .container {
}

.header-bottom-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}

.header-bottom__logo {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.nav {
  @media only screen and (max-width: 980px) {
    display: none;
  }
}
.nav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  padding: 20px 0;
  margin-left: 55px;
  @media only screen and (max-width: 1190px) {
    margin-left: 30px;
  }
}

.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333;

  &:hover {
    box-shadow: 0 3px 0 0 rgba(244, 255, 173, 255);
  }
}

.nav--active {
  position: relative;
  z-index: 1;
  &::before {
    display: inline-block;
    position: absolute;
    right: 100%;
    width: 21px;
    height: 21px;
    margin-right: 10px;
    background-image: url(../images/header-bottom/active.svg);
    background-size: contain;
    content: "";
  }
}

.header-bottom__link {
  position: relative;
  z-index: 1;
  margin-left: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333;
  @include hover;
  @media only screen and (max-width: 980px) {
    display: none;
  }

  @media only screen and (max-width: 1190px) {
    margin-left: 70px;
  }
  &::before {
    display: inline-block;
    position: absolute;
    right: 100%;
    margin-right: 5px;
    width: 23px;
    height: 21px;
    background-image: url(../images/header-bottom/ask-question.svg);
    background-size: contain;
    content: "";
  }
}

// hamburger
.hamburger-btn {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @media only screen and (max-width: 980px) {
    display: block;
  }
}
.hamburger-icon {
}
.exit-icon {
  display: none;
}
